gcp_credentials_file_path = "your-credentials-file-path"
gcp_project_id            = "your-project-id"
gcp_region                = "your-gcp-region"

workload_identity_providers_config = {
    packer = {
        name                = "packer-gh-actions"
        actor_claim         = "Timotej979"
        repository_claim    = "Timotej979/Homelab-infrastructure-talos"
        ref_claim           = "refs/heads/main"
        workflow_ref_claims = [
            "Timotej979/Homelab-infrastructure-talos/.github/workflows/build-gcp.yml@refs/heads/main",
        ]
    }
    terragrunt = {
        name                = "terragrunt-gh-actions"
        actor_claim         = "Timotej979"
        repository_claim    = "Timotej979/Homelab-infrastructure-terragrunt"
        ref_claim           = "refs/heads/main"
        workflow_ref_claims = []
    }
}