hcp_client_id     = "your-hcp-client-id"
hcp_client_secret = "your-hcp-client-secret"    # pragma: allowlist secret
hcp_project_id    = "your-hcp-project-id"

workload_identity_providers_config = {
    packer-aws-azure-gcp = {
        name                      = "packer-aws-azure-gcp-github"
        actor_claim               = "Timotej979"
        repository_claim          = "Timotej979/Homelab-infrastructure-talos"
        ref_claims_regex          = "refs/heads/(main|stage|dev)"
        hcp_role                  = "roles/contributor"
        workflow_ref_claims_regex = "build_(aws|azure|gcp).yml"
    }
    packer-alicloud-tencent = {
        name                      = "packer-alicloud-tencent-github"
        actor_claim               = "Timotej979"
        repository_claim          = "Timotej979/Homelab-infrastructure-talos"
        ref_claims_regex          = "refs/heads/(main|stage|dev)"
        hcp_role                  = "roles/contributor"
        workflow_ref_claims_regex = "build_(alicloud|tencent).yml"
    }
}