hcp_client_id     = "your-hcp-client-id"
hcp_client_secret = "your-hcp-client-secret"    # pragma: allowlist secret
hcp_project_id    = "your-hcp-project-id"

workload_identity_providers_config = {
    packer-aws-azure-gcp = {
        name                = "packer-aws-azure-gcp-github"
        actor_claim         = "Timotej979"
        repository_claim    = "Timotej979/Homelab-infrastructure-talos"
        ref_claim           = "refs/heads/main"
        hcp_role            = "roles/contributor"
        workflow_ref_claims = [
            ".github/workflows/build-aws.yml",
            ".github/workflows/build-azure.yml",
            ".github/workflows/build-gcp.yml",
        ]
    }
    packer-alicloud-tencent = {
        name                = "packer-alicloud-tencent-github"
        actor_claim         = "Timotej979"
        repository_claim    = "Timotej979/Homelab-infrastructure-talos"
        ref_claim           = "refs/heads/main"
        hcp_role            = "roles/contributor"
        workflow_ref_claims = [
            ".github/workflows/build-alicloud.yml",
            ".github/workflows/build-tencent.yml"
        ]
    }
    terragrunt = {
        name                = "terragrunt-github"
        actor_claim         = "Timotej979"
        repository_claim    = "Timotej979/Homelab-infrastructure-terragrunt"
        ref_claim           = "refs/heads/main"
        workflow_ref_claims = []
    }
}