name: Build AWS Image

permissions:
  contents: 'read'
  id-token: 'write'

on:
  workflow_call:
  workflow_dispatch:

env:
  HCP_CLI_VERSION: "0.10.0"
  PACKER_VERSION: "1.14.2"

jobs:
  ######################################################################
  # Development AWS Image for ARM64 architecture
  ######################################################################
  dev-arm64:
    name: Build Development AWS Image for ARM64 architecture
    environment: Development
    runs-on: ubuntu-24.04
    if: github.ref_name == 'dev'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          output-env-credentials: true

      - name: Build AWS Image
        id: build-image
        uses: ./.github/actions/build-packer-img
        with:
          hcp_wip: ${{ secrets.HCP_WIP_AWS_AZURE_GCP }}
          packer_version: ${{ env.PACKER_VERSION }}
          packer_template_path: ./packer/aws/templates
          packer_template_name: aws
          channel: aws-dev-arm64
          instance_type: t4g.medium
          talos_version: latest
          talos_architecture: arm64

      - name: Promote Image to Channel
        uses: ./.github/actions/promote-packer-img-to-channel
        with:
          hcp_cred_file: ${{ steps.build-image.outputs.hcp_cred_file }}
          iteration_id: ${{ steps.build-image.outputs.iteration_id }}
          channel: aws-dev-arm64
          bucket_name: homelab-infrastructure-talos
          hcp_cli_version: ${{ env.HCP_CLI_VERSION }}

  ######################################################################
  # Development AWS Image for AMD64 architecture
  ######################################################################
  dev-amd64:
    name: Build Development AWS Image for AMD64 architecture
    environment: Development
    runs-on: ubuntu-24.04
    if: github.ref_name == 'dev'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          output-env-credentials: true

      - name: Build AWS Image
        id: build-image
        uses: ./.github/actions/build-packer-img
        with:
          hcp_wip: ${{ secrets.HCP_WIP_AWS_AZURE_GCP }}
          packer_version: ${{ env.PACKER_VERSION }}
          packer_template_path: ./packer/aws/templates
          packer_template_name: aws
          channel: aws-dev-amd64
          instance_type: t3a.medium
          talos_version: latest
          talos_architecture: amd64

      - name: Promote Image to Channel
        uses: ./.github/actions/promote-packer-img-to-channel
        with:
          hcp_cred_file: ${{ steps.build-image.outputs.hcp_cred_file }}
          iteration_id: ${{ steps.build-image.outputs.iteration_id }}
          channel: aws-dev-amd64
          bucket_name: homelab-infrastructure-talos
          hcp_cli_version: ${{ env.HCP_CLI_VERSION }}

  ######################################################################
  # Staging AWS Image for ARM64 architecture
  ######################################################################
  stage-arm64:
    name: Build Staging AWS Image for ARM64 architecture
    environment: Staging
    runs-on: ubuntu-24.04
    if: github.ref_name == 'stage'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          output-env-credentials: true

      - name: Build AWS Image
        id: build-image
        uses: ./.github/actions/build-packer-img
        with:
          hcp_wip: ${{ secrets.HCP_WIP_AWS_AZURE_GCP }}
          packer_version: ${{ env.PACKER_VERSION }}
          packer_template_path: ./packer/aws/templates
          packer_template_name: aws
          channel: aws-stage-arm64
          instance_type: t4g.medium
          talos_version: latest
          talos_architecture: arm64

      - name: Promote Image to Channel
        uses: ./.github/actions/promote-packer-img-to-channel
        with:
          hcp_cred_file: ${{ steps.build-image.outputs.hcp_cred_file }}
          iteration_id: ${{ steps.build-image.outputs.iteration_id }}
          channel: aws-stage-arm64
          bucket_name: homelab-infrastructure-talos
          hcp_cli_version: ${{ env.HCP_CLI_VERSION }}

  ######################################################################
  # Staging AWS Image for AMD64 architecture
  ######################################################################
  stage-amd64:
    name: Build Staging AWS Image for AMD64 architecture
    environment: Staging
    runs-on: ubuntu-24.04
    if: github.ref_name == 'stage'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          output-env-credentials: true

      - name: Build AWS Image
        id: build-image
        uses: ./.github/actions/build-packer-img
        with:
          hcp_wip: ${{ secrets.HCP_WIP_AWS_AZURE_GCP }}
          packer_version: ${{ env.PACKER_VERSION }}
          packer_template_path: ./packer/aws/templates
          packer_template_name: aws
          channel: aws-stage-amd64
          instance_type: t3a.medium
          talos_version: latest
          talos_architecture: amd64

      - name: Promote Image to Channel
        uses: ./.github/actions/promote-packer-img-to-channel
        with:
          hcp_cred_file: ${{ steps.build-image.outputs.hcp_cred_file }}
          iteration_id: ${{ steps.build-image.outputs.iteration_id }}
          channel: aws-stage-amd64
          bucket_name: homelab-infrastructure-talos
          hcp_cli_version: ${{ env.HCP_CLI_VERSION }}

  ######################################################################
  # Production AWS Image for ARM64 architecture
  ######################################################################
  prod-arm64:
    name: Build Production AWS Image for ARM64 architecture
    environment: Production
    runs-on: ubuntu-24.04
    if: github.ref_name == 'main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          output-env-credentials: true

      - name: Build AWS Image
        id: build-image
        uses: ./.github/actions/build-packer-img
        with:
          hcp_wip: ${{ secrets.HCP_WIP_AWS_AZURE_GCP }}
          packer_version: ${{ env.PACKER_VERSION }}
          packer_template_path: ./packer/aws/templates
          packer_template_name: aws
          channel: aws-prod-arm64
          instance_type: t4g.medium
          talos_version: latest
          talos_architecture: arm64

      - name: Promote Image to Channel
        uses: ./.github/actions/promote-packer-img-to-channel
        with:
          hcp_cred_file: ${{ steps.build-image.outputs.hcp_cred_file }}
          iteration_id: ${{ steps.build-image.outputs.iteration_id }}
          channel: aws-prod-arm64
          bucket_name: homelab-infrastructure-talos
          hcp_cli_version: ${{ env.HCP_CLI_VERSION }}

  ######################################################################
  # Production AWS Image for AMD64 architecture
  ######################################################################
  prod-amd64:
    name: Build Production AWS Image for AMD64 architecture
    environment: Production
    runs-on: ubuntu-24.04
    if: github.ref_name == 'main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          output-env-credentials: true

      - name: Build AWS Image
        id: build-image
        uses: ./.github/actions/build-packer-img
        with:
          hcp_wip: ${{ secrets.HCP_WIP_AWS_AZURE_GCP }}
          packer_version: ${{ env.PACKER_VERSION }}
          packer_template_path: ./packer/aws/templates
          packer_template_name: aws
          channel: aws-prod-amd64
          instance_type: t3a.medium
          talos_version: latest
          talos_architecture: amd64

      - name: Promote Image to Channel
        uses: ./.github/actions/promote-packer-img-to-channel
        with:
          hcp_cred_file: ${{ steps.build-image.outputs.hcp_cred_file }}
          iteration_id: ${{ steps.build-image.outputs.iteration_id }}
          channel: aws-prod-amd64
          bucket_name: homelab-infrastructure-talos
          hcp_cli_version: ${{ env.HCP_CLI_VERSION }}
